<!-- <h1>Heloo {{Name}} {{title}}</h1> -->

<app-login></app-login>

<h1>Counter App</h1>

<div style="text-align: center;">
  <h2 class="count">{{count}}</h2>
  <div>
    <button class="btn bg-red" (click)="handlecounter('decrement')">Decrement</button>

    <button class="btn bg-black" (click)="handlecounter('reset')">Reset</button>
    <button class="btn bg-green" (click)="handlecounter('increment')">Increment</button>
  </div>
</div>


<h1>Get and Set Value from Input feild Value</h1>
<input type="text" value="{{Name}}" (input)="getname($event)" placeholder="enter value">
<br>
<br>
<button (click)="showname()">Get Value</button>
<button (click)="setName()">Set Value</button> <br> <br>
Username is {{displayName}}


<h1>If/Else in Angular v19</h1>
@if(display){
<div style="width: 200px; height: 200px;background: green;;"></div>
}
<br>
<!-- <button (click)="hide()" >hide div</button>
<button (click)="show()" >show div</button> -->
<button (click)="toggle()">toggle div</button>



<h1>Switch statement</h1>
@switch(color){
@case('red'){

<div style="width: 200px; height: 200px;background: red;">
  <h1>red color</h1>
</div>
}
@case('green'){


<div style="width: 200px; height: 200px;background: green;">
  <h1>green color</h1>
</div>
}
@case('blue'){
<div style="width: 200px; height: 200px;background: blue;"> blue color</div>
}

@default {
<div style="width: 200px; height: 200px;background: yellow;">
  <h1>yellow color</h1>
</div>
}
}
<button (click)="handlecolor('green')">green</button>
<button (click)="handlecolor('red')">red</button>

<button (click)="handlecolor('blue')">blue</button>

<h1>for loop</h1>

<h1>Show Data on Button Click</h1>
<button (click)="getdata()">Show Users & Students</button>
<br><br>
@if(showData){
<h2>Users List</h2>
@for(user of displayedUsers; track user) {
<div>
  <h3>{{user}}</h3>
</div>
}
<br>
<h2>Students List</h2>
<table border="1" style="border-collapse: collapse; width: 50%; text-align: center;padding-right: 80%; margin-left: 2%;">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Name</th>
      <th>Age</th>
      <th>City</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    @for(student of displayedStudents; track student; let idx=$index) {
    <tr>
      <td>{{idx+1}}</td>
      <td>{{student.name}}</td>
      <td>{{student.age}}</td>
      <td>{{student.city}}</td>
      <td>{{student.email}}</td>
    </tr>
    }
  </tbody>
</table>
}
<router-outlet />