<!-- <h1>Heloo {{Name}} {{title}}</h1> -->

<app-login></app-login>

<h1>Counter App</h1>

<div style="text-align: center;">
  <h2 class="count">{{count1}}</h2>
  <div>
    <button class="btn bg-red" (click)="handlecounter('decrement')">Decrement</button>

    <button class="btn bg-black" (click)="handlecounter('reset')">Reset</button>
    <button class="btn bg-green" (click)="handlecounter('increment')">Increment</button>
  </div>
</div>


<h1>Get and Set Value from Input feild Value</h1>
<input type="text" value="{{Name}}" (input)="getname($event)" placeholder="enter value">
<br>
<br>
<button (click)="showname()">Get Value</button>
<button (click)="setName()">Set Value</button> <br> <br>
Username is {{displayName}}


<h1>If/Else in Angular v19</h1>
@if(display){
<div style="width: 200px; height: 200px;background: green;;"></div>
}
<br>
<!-- <button (click)="hide()" >hide div</button>
<button (click)="show()" >show div</button> -->
<button (click)="toggle()">toggle div</button>



<h1>Switch statement</h1>
@switch(color){
@case('red'){

<div style="width: 200px; height: 200px;background: red;">
  <h1>red color</h1>
</div>
}
@case('green'){


<div style="width: 200px; height: 200px;background: green;">
  <h1>green color</h1>
</div>
}
@case('blue'){
<div style="width: 200px; height: 200px;background: blue;"> blue color</div>
}

@default {
<div style="width: 200px; height: 200px;background: yellow;">
  <h1>yellow color</h1>
</div>
}
}
<button (click)="handlecolor('green')">green</button>
<button (click)="handlecolor('red')">red</button>

<button (click)="handlecolor('blue')">blue</button>

<h1>For loop in Angulkar V19</h1>

<h1>Show Data on Button Click</h1>
<button (click)="getdata()">Show Users & Students</button>
<br><br>
@if(showData){
<h2>Users List</h2>
@for(user of displayedUsers; track user ; let idx=$index) {
<div>
  {{$first}} <br>
  {{$last}} <br>
  {{$even}} <br>
  {{$odd}} <br>
  <h3>{{idx+1}} {{$index}} {{user}}</h3>
  <br>
  <h2> {{$count}}</h2>
</div>
}
<br>
<div style="padding-right: 50%; margin-left: 10%;">
<h2>Students List</h2>
<table border="1" style="border-collapse: collapse; width: 50%; text-align: center;">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Name</th>
      <th>Age</th>
      <th>City</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    @for(student of displayedStudents; track student; let idx=$index) {
    <tr>
      <td>{{idx+1}}</td>
      <td>{{student.name}}</td>
      <td>{{student.age}}</td>
      <td>{{student.city}}</td>
      <td>{{student.email}}</td>
    </tr>
    }
  </tbody>
</table>
</div>
}




<h1 class="text-align">Signals in Angular 19</h1>
<p>A signal is a Wrapprer around a value that give a signal when value changes.</p>
<h1>{{x}}</h1>
<h1>{{count()}}</h1>
<!-- <button (click)="count.set(100)">Increase</button> -->
<button (click)="updateValue()">Update</button>
<br>
<br>
{{data()}}
<button (click)="updatesignal()">Update Signal</button>
<h1>{{count3()}}</h1>

<h1>Computed Signals</h1>
<p>These are only read only signals they changes only forcefully by changing dependency of signals
</p>
<h1>{{c()}}</h1>
<button (click)="showValue()">Show Value</button> <br> <br>

<button (click)="ReadDirectives()">Read Directives</button>
<div *ngIf="show">
  <H2 >Directives In Angular 19</H2>
<p>Directives are used to change the DOM structure or behavior.</p>
<p>There are three types of directives in Angular 19</p>
<ul>
  <li>Components</li>
  <li>Structural Directives</li>
  <li>Attribute Directives</li>
</ul> 
<p>Components are the directives with a template.</p>
<p>Structural directives are used to change the DOM structure.</p>
<p>Attribute directives are used to change the behavior of the DOM elements.</p>
<p>Structural directives are used to add or remove elements from the DOM.</p>
<p>Attribute directives are used to change the behavior of the DOM elements.</p>

<h3>*ngFor Directives</h3>
<p>*ngFor is a structural directive that is used to iterate over a collection and render a template for each item in the collection.</p>
<p>It is used to display a list of items in the DOM.</p>
<ul>
  <li *ngFor="let x of Students">
    <h3>{{x.name}} , {{x.age}}, {{x.city}}, {{x.email}} </h3>
    <!-- <p>{{x.age}}</p>
    <p>{{x.city}}</p>
    <p>{{x.email}}</p> -->
  </li> 
</ul>
</div>
<ul>
  <li>
    <a routerLink="login"> Login</a> <br> <br>
    <a routerLink="about"> About</a>
  </li>
</ul>
<router-outlet ></router-outlet>